{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Produits les moins chers</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cheap in cheaps %}
                        <tr>
                            <td>{{cheap.name}}</td>
                            <td>{{cheap.price}} €</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Produits les plus récents</th>
                        <th>Date de création</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recent in recents %}
                        <tr>
                            <td>{{recent.name}}</td>
                            <td>{{recent.createdAt|date("d-m-Y")}}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
</div>
{% endblock %}